<div class="footer">
      <div class="container">
        <div class="row ">
          <a href='https://www.facebook.com/netcomja/?fref=ts' target="_blank"><i class="fa fa-facebook fa-3x fa-fw"></i></a>
          <a href='#' target="_blank"><i class="fa fa-twitter fa-3x fa-fw"></i></a>
          <a href="https://www.instagram.com/netcomja/" target="_blank"><i class="fa fa-instagram fa-3x fa-fw"></i></a>
        </span>
        </div>

        <div class="row">
          <h4>© 2016 NETCOM JA. Todos los derechos reservados.</h4>

        </div>
      </div>
    </div>
