<nav class="navbar navbar-default navbar-fixed-top">
  <div  class="container">
    <div class="navbar-default">
      <a class="navbar-brand" href="#">
        <img alt="Logo-Netcom" class="img-responsive logo" src="/images/logo-vectorizado.png" ></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class=" <% if (page_name === 'inicio') { %>active <% } %> ">
          <a href="/">Inicio</a>

          <li class=" <% if (page_name === 'nosotros') { %>active <% } %> ">
            <a href="/nosotros">Nosotros</a>

            <li class=" <% if (page_name === 'servicios') { %>active <% } %> ">
              <a href="/servicios">Servicios</a>

              <li class=" <% if (page_name === 'contacto') { %>active <% } %> ">
                <a href="/contacto">Contacto</a>

                <li class=" <% if (page_name === 'FAQS') { %>active <% } %> ">
                  <a href="/FAQS"> FAQS</a>
            </ul>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->

    </nav>
