<!DOCTYPE html>
<html>
  <head>
    <% include  ../partials/head %>
  </head>
  <body id="contacto-page">

    <header>
      <% include ../partials/header %>
    </header>

    <div class="top">
        <div class="container">
          <h1> Contacto</h1>
        </div>
      </div>
    <section id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 ">
                            <h3>Una idea , un Proyecto </h3>
                            <div class="divide30"></div>
                            <div class="form-contact">
                                <form name="sentMessage" id="contactForm" class="contact-form" method="post" novalidate="">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row control-group">
                                                <div class="form-group col-xs-12 controls">
                                                    <label>Nombre<span>*</span></label>
                                                    <input type="text" class="form-control" placeholder="Escriba su nombre" id="name" required="" data-validation-required-message="Escriba su nombre">
                                                    <p class="help-block"></p>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-6">
                                            <div class="row control-group">
                                                <div class="form-group col-xs-12 controls">
                                                    <label>Email<span>*</span></label>
                                                    <input type="email" class="form-control" placeholder="Introduzca su Email" id="email" required="" data-validation-required-message="Introduzca su Email">
                                                    <p class="help-block"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row control-group">
                                        <div class="form-group col-xs-12  controls">
                                            <label>Telefono</label>
                                            <input type="tel" class="form-control" placeholder="Introduzca su número de telefono" id="phone">

                                        <div class="help-block"></div></div>
                                    </div>
                                    <div class="row control-group">
                                        <div class="form-group col-xs-12 controls">
                                            <label>Mensaje<span>*</span></label>
                                            <textarea rows="5" class="form-control" placeholder="Introduzca su mensaje" id="message" required="" data-validation-required-message="Introduzca su mensaje"></textarea>
                                            <p class="help-block"></p>
                                        </div>
                                    </div>

                                    <div id="success"></div>
                                    <div class="row">
                                        <div class="form-group col-xs-12 text-right">
                                            <button type="submit" name="button" class="btn btn-primary btn-lg">Enviar</button>
                                        </div>
                                    </div>
                                </form>

                            </div><!--contact form-->
                        </div>
                        <div class="col-md-5 col-md-offset-1 ">
                            <h3>Responderemos a la brevedad posible</h3>
                            <div class="media">
                                <div class="media-left">
                                    <i class="ti-home"></i>
                                </div>

                            </div><!--media-->
                            <div class="media">
                                <div class="media-left">
                                    <i class="ti-mobile"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Teléfono</h4>
                                    <p>
                                        01+ 1800 495 95944
                                    </p>
                                </div>
                            </div><!--media-->
                            <div class="media">
                                <div class="media-left">
                                    <i class="ti-email"></i>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Email</h4>
                                    <p>
                                        support@assan.com
                                    </p>
                                </div>
                            </div><!--media-->
                        </div>
                    </div>
                </div>
            </section>


  <section id="footer-section">
          <% include ../partials/footer %>
        </section>
  </body>
</html>
