<!DOCTYPE html>
<html>
  <head>
    <% include  ../partials/head %>
  </head>
  <body>

    <header>
      <% include ../partials/header %>
    </header>

<section id="top">
        <div class="container">
          <h1> Netcom</h1>
        </div>
      </section>

<section id="preguntas">
  <div class="container">
    <h3>Preguntas Frecuentes</h3>
    <div class="col-xs-6">
      <div class="list-group">
      <a href="#q-1" class="list-group-item">¿Cómo puedo conocer sus precios y disponibilidad?</a>
      <a href="#q-2" class="list-group-item">¿Cuáles son los beneficios de poseer una página web?</a>
      <a href="#q-3" class="list-group-item">¿Para qué necesito un servicio de Marketing Digital?</a>
      <a href="#q-4" class="list-group-item">¿Por qué mi empresa necesita un servicio de Consultoría y Auditoría de Sistemas?</a>
      <a href="#q-5" class="list-group-item">¿Qué obtengo pagando la anualidad por el servicio de Web Hosting?</a>
    </div>
    </div>

    <div class="col-xs-6">
      <div id="q-1">
        <h4>¿Cómo puedo conocer sus precios y disponibilidad?</h4>
        <p>Ingresa a la sección de “Contacto” llena el formulario y luego te contactaremos para aclarar tus dudas.</p>
      </div>
      <div id="q-2">
        <h4>¿Cuáles son los beneficios de poseer una página web?</h4>
        <p>Hoy en día las empresas de renombre utilizan este método debido a que a través de la misma, se podrá exponer cualquier, producto o servicio que el cliente desee, facilitando así el crecimiento de la compañía. Entre los otros beneficios que este permite, está el almacenamiento de información y contacto directo con el cliente.</p>
      </div>
      <div id="q-3">
        <h4>¿Para qué necesito un servicio de Marketing Digital?</h4>
        <p>El marketing digital, es sumamente necesario en la nueva era 2.0, te brinda la posibilidad de estar al alcance de todo, a través de una red social o página web, esto aumenta los motores de búsqueda para que, tu compañía se ubique en primer lugar y pueda llegar a un público en específico. Hay que tener en consideración el hecho de la proliferación digital, los usuarios, se inclinan más por este medio que por los convencionales. Aunado a esto, no sólo permite que tu empresa sea conocida a nivel nacional, sino internacional. Un sitio web le permite alcanzar a un gran número de consumidores. Si su portal web ha sido preparado por profesionales, va a dejar una buena impresión en los visitantes y les va brindará confianza.</p>
      </div>
      <div id="q-4">
        <h4>¿Por qué mi empresa necesita un servicio de Consultoría y Auditoría de Sistemas?</h4>
        <p>El servicio de Consultoría y Auditoría de Sistemas, le permitirá conocer el status actual de sus sistemas de información, así como los pasos o recomendaciones que debe seguir para cumplir con la norma ISO 27001, y tener un sistema de información en óptimas condiciones.</p>
      </div>
      <div id="q-5">
        <h4>¿Qué obtengo pagando la anualidad por el servicio de Web Hosting?</h4>
        <p>Con el pago del monto correspondiente al servicio de web hosting, usted está pagando el dominio y hospedaje de su página web, por un período de un (1) año.</p>
      </div>
    </div>

</div>
</section>
  <section id="footer-section">
          <% include ../partials/footer %>
        </section>
  </body>
</html>
