<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>

  <section id="top">
    <div class="container">
      <h1> Netcom</h1>
    </div>
  </section>
  <section id="nosotros">
    <div  class="container">
      <div class="row">
        <div class="col-xs-6">
          <img src= "/images/logo.png"  alt="Website">
        </div>
        <div class="col-xs-6">
          <h1>Bienvenidos a NetCom </h1>
          <div class="informacion-1 ">
            Somos una empresa líder en servicios de Telecomunicaciones y Sistemas de Comunicación e Información, reconocida por nuestra innovación, creatividad, gestión humana y profesional. Garantizando y satisfaciendo las necesidades de nuestros clientes, por encima de sus expectativas, brindándoles un excelente servicio.
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="nosotros-2">
  <div class="container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
            <h2>Visión</h2>
            <p>Nos proyectamos como la empresa líder en servicios de Telecomunicaciones y Sistemas de Comunicación e Información, reconocida por nuestra innovación, creatividad, gestión humana y profesional. Procurando ser la mejor empresa del mercado.</p>
          </div>


        <div class="col-md-4">
          <h2>Valores</h2>
          <p>Trabajo en equipo, nos caracterizamos por el trabajo en equipo que realizamos diariamente. El trabajo de cada uno de los integrantes de esta sociedad es importante para todos, es por ello que procuramos mantener el respeto, tanto entre el equipo de trabajo como para con nuestros clientes, proveedores y demás aliados, mantenemos de forma responsable las solicitudes realizadas, para así ofrecer un servicio de calidad garantizada no sólo en nuestras relaciones, sino también ofreciendo los mejores productos y servicios del mercado. Tratamos siempre de innovar, no sólo con nuestros productos, sino también nuestros servicios a ofrecer. Somos una sociedad que se caracteriza por la honestidad con nuestro personal, clientes y proveedores.</p>
        </div>
        <div class="col-md-4">
          <h2>Misión</h2>
          <p>Promover el servicio de Telecomunicaciones y Sistemas, garantizando y satisfaciendo las necesidades de nuestros clientes, con innovación y creatividad, por encima de sus expectativas, brindándoles una excelente asistencia.</p>

        </div>
      </div>
    </div>

  </div>
</section>

<section id="footer-section">
    <% include ../partials/footer %>
</section>

</body>
</html>
